/* CSS Document */
*{
  transition: display 1s ease-in-out;
}

body {
  background-color: #F2F8FF;
}

h1 {
  font-weight: 1000;
}

a {
  text-decoration: none;;
}

.header {
  background-color: white;
  border-radius: 0 0 50px 50px;
  padding: 2.0rem;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
}

.nav-link h5 {
  font-weight: 500;
}

#fixedNav .nav-menu {
  margin-top: 0;
  left: 50px;
}

.nav-menu {
  position: absolute;
  left: 0;
  background: white;
  z-index: 99;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 20px 20px 0px rgb(0 85 204 / 20%);
  display: none;
  transition: cubic-bezier(1, 0, 0, 1);
  list-style-type: "\21c0";
  list-style-position: inside;
  margin-top: -20px;
}

.nav-item {
  width: 75%;
  padding: 10px;
  list-style-position: outside;
  font-weight: 400;
  text-indent: 0;
  margin-left: 10px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-weight:500;
}

.nav-item a.active {
  color: #1EAEDB;
}

.nav-item a:hover {
  border-top: 1px #1EAEDB;
  border-bottom: 1px #1EAEDB;
}

.nav-item:hover {
  background-color: #F2F8FF;
}

.topbar {
  margin-bottom: 75px;
}

.logo img {
  width: 5rem;
}

.logo a img:hover {
  width: 5.5rem;
}

.logo > a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.logo > a:hover{
  text-decoration: underline;
  color: #1EAEDB;
  font-weight: 700;
}

.socials {
  text-align: right;
}

.socials a {
  color: black;
  transition: auto;
}

.socials a:hover {
  color: #1EAEDB;
  transition: auto;
}

.fa-facebook, .fa-linkedin {
  font-size: 4rem;
}

.sparkles {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  background-color: pink;
  font-size: 3rem;
  cursor: pointer;
  transition: padding 0.5s ease-in-out, background 1s ease-in-out;
}

.sparkles:hover {
  padding: 20px;
  background-color: salmon;
}

.sparkles.on {
  background-color: blue;
  color: white;
}

.sparkles.on:hover {
  background-color: darkblue;
  padding: 20px;
}

.trail {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  opacity: 1;
  z-index: -1;
}

@keyframes trail {
  from
  {
    opacity: 1;
    transform: translateY(0);
  }
  to
  {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.name {
  color: #1EAEDB;
  font-weight: 600;
  cursor: pointer;
}

.name:hover {
  color: black;
}

.photo {
  display: none;
}

.profilepic {
  background: url("../images/profilephoto.jpg");
  background-size: cover;
  border-radius: 25rem;
  height: 22rem;
  width: 22rem;
  text-align: center;
  margin: auto;
  margin-bottom:1.5rem;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.resume a h4 {
  font-weight: 600!important;
}

.resume a {
  color: #1EAEDB;
}

.resume a:hover {
  color: black;
  cursor: pointer;
}

.titlebar, .titlebar h2{
  color: #6E819C;
  font-weight: 700;
}

.titlebar {
  padding-top: 10rem;
}

.ux, .other {
  text-align: center;
}

.ux h3, .other h3 {
  font-weight: 700;
  margin: 0;
}

.ux > .yolk {
  border-radius: 25px;
  background-image: url("../images/Screenshot (104).png");
  padding: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
  color: black;
}

.ux > .yolk:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/Screenshot (104).png");
  cursor: pointer;
  transform: translateY(-10px);
  color: #1EAEDB;
}

.ux > .via {
  border-radius: 25px;
  background-image: url("../images/Screenshot (106).png");
  padding: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
  color: black;
}

.ux > .via:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/Screenshot (106).png");
  cursor: pointer;
  transform: translateY(-10px);
  color: #1EAEDB;
}

.ux > .porto {
  border-radius: 25px;
  background-image: url("../images/Screenshot (107).png");
  padding: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
  color: black;
}

.ux > .porto:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/Screenshot (107).png");
  cursor: pointer;
  transform: translateY(-10px);
  color: #1EAEDB;
}

.skills {
  background-color: white;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
  border-radius: 3rem;
  padding: 1.5rem;
  font-weight: 500;
}

.skills h2 {
  font-weight: 700;
}

.uxdesign {
  background-color: #FFD9C7;
  color: #FF7231;
  border-radius: 1.5rem;
  cursor: pointer;
}

.uxdesign > .icon {
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  padding: 1.5rem;
}

.engineering {
  background-color: #E1C8Ef;
  color: #8132AD;
  border-radius: 1.5rem;
  cursor: pointer;
}

.engineering > .icon {
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.uidesign {
  background-color: #CCD5FF;
  color: #4263FF;
  border-radius: 1.5rem;
  cursor: pointer;
}

.uidesign > .icon {
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.marketing {
  background-color: #B6EDDE;
  color: #32c89f;
  border-radius: 1.5rem;
  cursor: pointer;
}

.marketing > .icon {
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

#infoRow {
  display: none;
  padding-top: 1.5rem;
  font-weight: 400;
}

.icon > h1{
  font-size: 5rem;
}

.icon > h2 {
  font-size: 2rem;
}

.skillsIcons {
  text-align: center;
}


.graphicdesign {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  padding: 10rem;
  background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.75)), url("../images/graphicdesigncover.jpg");
  background-attachment: fixed;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.graphicdesign:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/graphicdesigncover.jpg");
  background-attachment: fixed;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
  cursor: pointer;
  transform: translateY(-10px);
  color: white;
}

.digitalart {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  padding: 10rem;
  background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.75)), url("../images/digitalartcover.png");
  background-attachment: fixed;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.digitalart:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/digitalartcover.png");
  background-attachment: fixed;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: translateY(-10px);
  color: white;
}

.dnd {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  padding: 10rem;
  background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.75)), url("../images/d20.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 25px;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.dnd:hover {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/d20.jpg");
  background-attachment: fixed;
  border-radius: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  cursor: pointer;
  transform: translateY(-10px);
  color: white;
}

.bottom {
  margin-bottom: 2rem;
}

.footer {
  font-weight: 400;
}

.contact {
  font-weight: 400;
  font-size: 1.8rem;
}

.warning {
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.warning p {
  -ms-overflow-style: none;
}

.warning p::-webkit-scrollbar {
  display: none;
}

.warning a {
  font-weight: 800;
  font-size: 110%;
}

#closeWarning {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
  border-color: white;
  margin-top: 1rem;
}

#closeWarning:hover {
  color: #1EAEDB;
  border: 2px solid #1EAED8;
  transform: translateY(3px);
}

.mobile {
  display: none !important;
}

.hide {
  display: none!important;
}

#fixedNav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#fixedNav .header {
  padding-bottom: 0rem;
}

#fixedNav .header .topbar {
  margin-bottom: 0px;
}

.celebration {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 999;
  background-color: #1EAED8;
  color: black;
  padding: 2rem;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  display: none;
}

.celebration p {
  height: 100%;
  margin: auto;
}


@media (max-width: 787px) {
  #fixedNav .header {
    padding-bottom: 20px;
  }
  
  #fixedNav h2 {
    display: none;
  }
  
  .header > div > h2 {
    font-size: 2.5rem;
  }

  .ux > a, .skills > div > div, .other > div {
    margin-bottom: 1.5rem;
  }
  
  .resume:hover {
    background-color: rgba(30,174,219,0.25);
    border-radius: 2rem;
  }
  
  .contact, .footer {
    text-align: center;
    
  }
  
  .desktop {
    display: none !important;
  }
  
  .mobile {
    display: block !important;
  }
  
  .graphicdesign, .digitalart, .dnd {
    width: 100%;
    margin-bottom: 10px;
  }

  #closeWarning {
    margin: auto;
  }
}
