/* CSS Document */
*{
  transition: 0.2s;
}

body {
  background-color: #F2F8FF;
}

h1 {
  font-weight: 1000;
}

.header {
  background-color: white;
  border-radius: 0 0 50px 50px;
  padding: 2.0rem;
  box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.topbar {
  margin-bottom: 75px;
}

.logo > a > img{
  width: 5rem;
}

.logo > a > img:hover {
  width: 5.5rem;
}

.logo > a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.logo > a:hover{
  text-decoration: underline;
  color: #1EAEDB;
  font-weight: 700;
}

.socials {
  text-align: right;
}

.socials a {
  color: black;
  transition: auto;
}

.socials a:hover {
  color: #1EAEDB;
  transition: auto;
}

.fa-facebook, .fa-linkedin {
  font-size: 4rem;
}
