---
layout: null
title: "Muqtadaa Miandara - Portfolio"
description: "Muqtadaa Miandara's Portfolio Website"
assetPrefix: "."
pageStylesheet: "css/style.css"
globalScript: "script.js"
activePage: "none"
---
<!doctype html>
<html>
  
    {% include "partials/head.njk" %}


  <body>
    
    <div class="container hide" id="fixedNav">
    
      <div class="header">
        
        <div class="topbar row">
          
          <div class="logo u-pull-left">

            <a class="row" href="../index.html">
  
              <img src="../images/minimal_logo_no_text.png" alt="logo">
  
            </a>
  
            <div class="row nav-link">
  
              <h5>Menu&nbsp;<i class="fa-solid fa-caret-down"></i></h5>
  
              {% include "partials/nav-menu.njk" %}
  
              </h5>
  
            </div>
  
          </div>
          
          <h2 style="text-align:center; padding-left: 25px;padding-top:10px;" class="u-pull-left">Hi, I'm <strong>Muqtadaa Miandara</strong>&nbsp;&nbsp;<a class="u-full-width" href="files/resume_ux.pdf" target="_blank"><i class="fal fa-file-download"></i></a></h2>
          
          <div class="socials u-pull-right">
            
            <a href="https://www.facebook.com/MuqtadaaM/" target="_blank"><i class="fab fa-facebook"></i></a>
            
            <a href="https://www.linkedin.com/in/Muqtadaa" target="_blank"><i class="fab fa-linkedin"></i></a>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
    <div class="container">
      
      <div class="header">
        
        <div class="topbar row">
          
          <div class="logo u-pull-left">

            <a class="row" href="../index.html">
  
              <img src="../images/minimal_logo_no_text.png" alt="logo">
  
            </a>
  
            <div class="row nav-link">
  
              <h5>Menu&nbsp;<i class="fa-solid fa-caret-down"></i></h5>
  
              {% include "partials/nav-menu.njk" %}
  
              </h5>
  
            </div>
  
          </div>
          
          <div class="socials u-pull-right">
            
            <a href="https://www.facebook.com/MuqtadaaM/" target="_blank"><i class="fab fa-facebook"></i></a>
            
            <a href="https://www.linkedin.com/in/Muqtadaa" target="_blank"><i class="fab fa-linkedin"></i></a>
            
          </div>
          
        </div>
        
        <div class="container">
          
          <h1 id="intersect">Error 404</h1>
          
          <br><br>
          
          <h2>Sorry, that page is likely under construction still.</h2>
          <h2>I'm building this site completely from scratch - so it might be a while before I finish coding it all up. Check out my resume below or click the logo above to head back home.</h2>
          
          <br>
          
          <div style="text-align: center" class="resume u-full-width">
            <a class="u-full-width" href="/files/resume_ux.pdf" target="_blank">
              <h4><i class="fal fa-file-download"></i>&nbsp;&nbsp;My Résumé.</h4> 
            </a>
          </div>
          
        </div>
        
      </div>
      
    </div>
    
    
    
  </body>
  
</html>
