/* CSS Document */

* {
    transition: 0.2s;
}

body {
    background-color: #F2F8FF;
}

h1 {
    font-weight: 1000;
}

h4 {
    font-weight: 500;
}

p {
    font-weight: normal;
}

caption {
    text-align: center;
}

.center {
    text-align: center;
}

.header {
    background-color: white;
    border-radius: 0 0 50px 50px;
    padding: 2.0rem;
    box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
}

.nav-link h5 {
  font-weight: 500;
}

#fixedNav .nav-menu {
  margin-top: 0;
  left: 50px;
}

.nav-menu {
  position: absolute;
  left: 0;
  background: white;
  z-index: 99;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 20px 20px 0px rgb(0 85 204 / 20%);
  display: none;
  transition: cubic-bezier(1, 0, 0, 1);
  list-style-type: "\21c0";
  list-style-position: inside;
  margin-top: -20px;
}

.nav-item {
  width: 75%;
  padding: 10px;
  list-style-position: outside;
  font-weight: 400;
  text-indent: 0;
  margin-left: 10px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-weight:500;
}

.nav-item a.active {
  color: #1EAEDB;
}

.nav-item a:hover {
  border-top: 1px #1EAEDB;
  border-bottom: 1px #1EAEDB;
}

.nav-item:hover {
  background-color: #F2F8FF;
}

.topbar {
    margin-bottom: 75px;
}

.logo>a>img {
    width: 5rem;
}

.logo>a>img:hover {
    width: 5.5rem;
}

.logo>a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.logo>a:hover {
    text-decoration: underline;
    color: #1EAEDB;
    font-weight: 700;
}

.socials {
    text-align: right;
}

.socials a {
    color: black;
    transition: auto;
}

.socials a:hover {
    color: #1EAEDB;
    transition: auto;
}

.fa-facebook,
.fa-linkedin {
    font-size: 4rem;
}

.prototype,
.firstText {
    margin-top: 10rem;
    align-self: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    border-radius: 1rem;
    border: 1px dotted #aaa;
    overflow: hidden;
}

.gallery-image,
.gallery-pdf {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
    cursor: pointer;
}

img.gallery-image:hover {
    transform: scale(1.15);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: white;
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.8);
    /* Black w/ opacity */
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    opacity: 1 !important;
    max-width: 80%;
    max-height: 75%;
    border-radius: 2.5rem;
}

.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}

.modal-content,
.modal-caption,
.modal-instruction {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal .button {
    color: black;
}

.modal .button:hover {
    color: #1EAEDB;
    border-color: #1EAEDB;
}

@-webkit-keyframes zoom {
    from {
        -webkit-atransform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modal-close,
.modal-instruction {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #555;
    text-decoration: none;
    cursor: pointer;
}

.bodytext {
    background-color: white;
    border-radius: 25px;
    padding: 2.5rem;
    box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.mockup1 {
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    border-radius: 2.5rem 0 0 2.5rem;
}

.mockup2 {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    border-radius: 0 2.5rem 2.5rem 0;
}

.prototype {
    height: 0px;
    width: 100%;
    padding-top: 65%;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.xdEmbed {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.titlebar,
.titlebar h2 {
    color: #6E819C;
    font-weight: 700;
}

.frame {
    margin-top: 10rem;
}

.frameText {
    background-color: white;
    border-radius: 25px;
    padding: 2.5rem;
    box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
}

.frameText>img {
    text-align: center;
    width: 100%;
    border-radius: 2.5rem;
}

.final {
    background-color: white;
    border-radius: 25px;
    padding: 2.5rem;
    box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
    font-weight: 400;
}

.acknowledgements {
    background-color: white;
    border-radius: 25px;
    padding: 2.5rem;
    box-shadow: 0px 10px 5rem 0px rgba(0, 85, 204, 0.2);
    font-weight: 400;
}

.bottom {
    margin-bottom: 2rem;
}

.footer {
    font-weight: 400;
}

.contact {
    font-weight: 400;
    font-size: 1.8rem;
}

#whatIsYolk,
#framingTheDesign,
#exploratory,
#userResearch,
#userPersona,
#wireframes,
#onboarding,
#final,
#acknowledgements,
#nextImage,
#prevImage {
    cursor: pointer;
}

#whatIsYolk:hover,
#framingTheDesign:hover,
#exploratory:hover,
#userResearch:hover,
#userPersona:hover,
#onboarding:hover,
#final:hover,
#acknowledgements:hover {
    color: #475973;
}

#main,
#main2,
#main3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iphone-x,
#iphone-x2,
#iphone-x3 {
    position: relative;
    margin: 40px auto;
    width: 360px;
    height: 740px;
    border-radius: 40px;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111, 8px 8px 40px #000;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.mobile {
    display: none !important;
}

#fixedNav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#fixedNav .header {
    padding-bottom: 0rem;
}

#fixedNav .header .topbar {
    margin-bottom: 0px;
}

@media (max-width: 787px) {
    #fixedNav .header {
        padding-bottom: 20px;
    }
    #fixedNav h2 {
        display: none;
    }
    .header>div>h2 {
        font-size: 2.5rem;
    }
    .ux>a,
    .skills>div>div,
    .other>div {
        margin-bottom: 1.5rem;
    }
    .warning {
        text-align: center;
    }
    .resume a {
        font-size: 1rem;
    }
    .contact,
    .footer {
        text-align: center;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
}


/**  
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  &:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }
  
  #speaker, #speaker2 {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  }
  
  #camera, #camera2 {
    position: absolute;
    left: 10%;
    top: 0px;
    z-index: 3;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    
    &:after {
      content: '';
      position: absolute;
      background-color: #2d4d76;
      width: 6px;
      height: 6px;
      top: 2px;
      left: 2px;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  
}**/

@media(max-width: 1200px) {
    .prototype {
        height: 80vh;
        width: 80vw;
    }
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
    .gallery,
    .gallery-item {
        margin: 0;
    }
}